@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono");
/*MIXINS*/
/*GENERAL PROPERTIES*/
body {
  background-color: #000000;
  margin-top: 0px; }

:focus {
  outline: none; }

.site__header {
  margin-top: 80px;
  padding-top: 80px;
  font-size: 30px;
  color: #ADADAD; }
  .site__header--paragh {
    margin-bottom: 80px;
    font-size: 50px;
    color: #34821A; }

.icon-java {
  color: #FFFFFF;
  background-color: #FFAC37; }

.shadows__wrapper {
  box-shadow: 0px 0px 100px 0px #4278E5;
  padding-bottom: 120px; }

.fa-google {
  color: #FFFFFF;
  background-color: #2C70C2; }

.bulb__icon {
  color: #000000;
  background-color: #F6F647; }

.fa-graduation-cap {
  background-color: #FFFFFF; }

.fa-users {
  color: #000000;
  background-color: #124113; }

.icon-html5-alt {
  color: #FFFFFF;
  background-color: #FF6C39; }

.icon-css3-alt {
  color: #FFFFFF;
  background-color: #264DE4; }

.icon-sass {
  color: #CF649A;
  background-color: #FFFFFF; }

.icon-bootstrap {
  color: #FFFFFF;
  background-color: #624090; }

.skills__icon {
  color: #000000;
  background-color: #F0DB4F; }

.java__icon {
  color: #FFFFFF;
  background-color: #FFAC37; }

/*NAVIGATION PROPERTIES*/
.navigation {
  border-bottom: 1px solid #444444;
  padding: 0px; }
  .navigation .navbar-toggler {
    background-color: #4278E5; }
  .navigation .navigation__list {
    display: flex;
    justify-content: space-around; }
    .navigation .navigation__list li .nav-link {
      line-height: 50px;
      padding: 0;
      font-size: 18px;
      -webkit-transition: 0.7s;
      -moz-transition: 0.7s;
      -ms-transition: 0.7s;
      transition: 0.7s; }
      .navigation .navigation__list li .nav-link:hover {
        color: #4278E5;
        -webkit-transform: translateY(-5px);
        -moz-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        transform: translateY(-5px); }
      .navigation .navigation__list li .nav-link:focus {
        color: #4278E5;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2); }
    .navigation .navigation__list li .home-link {
      color: #34821A;
      font-size: 23px; }

.jumb {
  height: 100vh;
  background: url(https://images.pexels.com/photos/247676/pexels-photo-247676.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb) center no-repeat;
  background-size: cover;
  display: -webkit-flex;
  -moz-flex: flex;
  -ms-flex: flex;
  display: flex;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-content: center;
  -moz-align-content: center;
  -ms-align-content: center;
  align-content: center; }
  .jumb__message {
    text-align: center; }
    .jumb__message--head {
      font-size: 65px;
      text-shadow: 3px 3px #000000;
      color: #34821A; }
    .jumb__message--paragh {
      font-size: 40px;
      text-shadow: 2px 2px #000000;
      color: #EDEDED; }
  .jumb .jumb__btn--view {
    position: relative;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px; }
    .jumb .jumb__btn--view:hover {
      background-color: transparent;
      border: 2px solid #FC0000; }
  .jumb .jumb__btn a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent; }
  .jumb .jumb__btn--icon {
    font-size: 30px;
    color: #FFFFFF;
    opacity: 0.3;
    -webkit-animation: arrow 2s infinite;
    -moz-animation: arrow 2s infinite;
    -ms-animation: arrow 2s infinite;
    animation: arrow 2s infinite; }

@keyframes arrow {
  0% {
    transform: translateY(-5px); }
  100% {
    transform: translateY(10px); } }

.sep, .sep__first {
  margin-top: 120px;
  margin-bottom: 40px;
  display: -webkit-flex;
  -moz-flex: flex;
  -ms-flex: flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-content: center;
  -moz-align-content: center;
  -ms-align-content: center;
  align-content: center; }
  .sep__wrapper {
    display: inline-block;
    font-size: 150px;
    -webkit-animation: rotateSpin 2s infinite;
    -moz-animation: rotateSpin 2s infinite;
    -ms-animation: rotateSpin 2s infinite;
    animation: rotateSpin 2s infinite; }

@keyframes rotateSpin {
  0% {
    transform: rotate(0deg);
    color: #315632; }
  50% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(360deg); } }
  .sep__first {
    margin-top: 0; }

.info {
  padding-top: 5px; }
  .info__header {
    text-align: center; }
  .info__content1 {
    display: -webkit-flex;
    -moz-flex: flex;
    -ms-flex: flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    flex-wrap: wrap; }
  .info__content2 {
    display: -webkit-flex;
    -moz-flex: flex;
    -ms-flex: flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    flex-wrap: wrap; }
  .info__btn {
    position: relative;
    height: 200px;
    width: 200px;
    background-color: #135E93;
    border: 3px solid #000000;
    color: #FFFFFF;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    transition: 1s; }
    .info__btn:hover {
      z-index: 2;
      background-color: #10456B;
      color: #000000;
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
      cursor: pointer; }
    .info__btn:focus {
      color: #000000;
      background-color: #0B590C;
      outline: none; }
    .info__btn--txt {
      font-size: 20px; }
  .info__modal--title {
    text-align: center;
    font-size: 30px;
    color: #000000;
    background-color: #FFFFFF; }
  .info__modal--content {
    padding: 30px;
    background-color: #10456B;
    color: #FFFFFF; }
  .info__modal--btn {
    display: -webkit-flex;
    -moz-flex: flex;
    -ms-flex: flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-align-self: center;
    -moz-align-self: center;
    -ms-align-self: center;
    align-self: center;
    margin-top: 100px;
    width: 150px; }
  .info__icon {
    font-size: 40px; }
    .info__icon .fa-graduation-cap {
      background-color: transparent; }

.skills {
  padding-top: 5px;
  text-align: center; }
  .skills__header {
    margin: 80px;
    font-size: 35px;
    color: #4278E5; }
    .skills__header--small {
      color: #ADADAD; }
  .skills__quote {
    text-align: center;
    display: inline-block;
    margin-bottom: 70px;
    color: #777777;
    padding-left: 30px;
    padding-right: 30px; }
    .skills__quote p {
      margin-bottom: 10px;
      font-size: 20px; }
    .skills__quote footer {
      text-align: right; }
  .skills__icon {
    position: relative;
    width: 80px;
    height: 80px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    margin: 5px;
    font-size: 40px; }
    .skills__icon:hover {
      color: grey;
      opacity: 0.7;
      cursor: pointer; }
    .skills__icon:focus {
      outline: none; }
    .skills__icon .icon {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      border-radius: 20px; }
      .skills__icon .icon:before {
        height: 100%;
        width: 100%;
        display: -webkit-flex;
        -moz-flex: flex;
        -ms-flex: flex;
        display: flex;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        align-items: center; }

.projects {
  padding-top: 5px;
  text-align: center; }
  .projects__container {
    display: -webkit-flex;
    -moz-flex: flex;
    -ms-flex: flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    -moz-align-content: center;
    -ms-align-content: center;
    align-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center; }
    .projects__container--content {
      position: relative;
      margin: 10px; }
    .projects__container img {
      width: 300px;
      height: 300px; }
    .projects__container--card {
      width: 300px;
      margin-top: 2px;
      padding-bottom: 5px;
      background-color: #12507A;
      color: #FFFFFF; }
      .projects__container--card .btn__card {
        display: block;
        margin: 10px; }
    .projects__container--layer {
      width: 300px;
      height: 300px;
      position: absolute;
      top: 0;
      font-size: 20px;
      background-color: transparent;
      -webkit-transition: 1s;
      -moz-transition: 1s;
      -ms-transition: 1s;
      transition: 1s; }
      .projects__container--layer:hover {
        background-color: rgba(0, 0, 0, 0.5);
        cursor: pointer; }
  .projects .layer__icon {
    position: absolute;
    top: 0;
    display: -webkit-flex;
    -moz-flex: flex;
    -ms-flex: flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    transition: 1s; }
    .projects .layer__icon:hover {
      position: absolute;
      top: 0;
      display: -webkit-flex;
      -moz-flex: flex;
      -ms-flex: flex;
      display: flex;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
      opacity: 0.9; }
    .projects .layer__icon .icon {
      font-size: 20px;
      padding: 5px;
      margin: 2px;
      text-align: center; }
      .projects .layer__icon .icon:before {
        height: 100%;
        width: 100%;
        display: -webkit-flex;
        -moz-flex: flex;
        -ms-flex: flex;
        display: flex;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        align-items: center; }

/*# sourceMappingURL=main.css.map */