@media (min-width: 992px) and (max-width: 1200px) {

}
@media (max-width: 992px) {
	.navigation .navigation__list {
		display: block;
		text-align: center;
		padding: 50px 0;
	}
	.navbar-toggler {
		margin-top: 10px;
	}
	.jumb__message--head {
		font-size: 55px;
	}
	.jumb__message--paragh {
		font-size: 30px;
	}
	.info__btn:hover {
		transform: none;
	}
	.projects__container--card .mobile-icon {
		display: inline-block;
	}
	.projects__container--layer {
		display: none;
	}
}
@media (max-width: 767px) {
	.navigation .navigation__list {
		display: block;
		text-align: center;
		padding: 50px 0;
	}
	.navbar-toggler {
		margin-top: 10px;
	}
	.jumb__message--head {
		font-size: 45px;
	}
	.jumb__message--paragh {
		font-size: 20px;
	}
	.skills__icon {
		width: 50px;
		height: 50px;
		font-size: 25px;
	}
	.site__header--small {
		font-size: 35px;	
	}
	.info__btn:hover {
		transform: none;
	}
	.projects__content--img {
		width: 130px;
		height: 130px;
	}
}

