@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono');
@import 'mixins';
/*GENERAL PROPERTIES*/
html {
}
body {
    background-color: $primary-color;
    margin-top: 0px;	
}
:focus { 
	outline: none; 
}
.site__header {
	margin-top: 80px;
	padding-top: 80px;
	font-size: 30px;
	color: #ADADAD;
	
	&--paragh {
		margin-bottom: 80px;
		font-size: 50px;
		color: $homeheader-color;
	}
}
.icon-java {
	color: #FFFFFF;
	background-color: #FFAC37;
}
.shadows__wrapper {
		box-shadow: 0px 0px 100px 0px $btn-state-color;
		padding-bottom: 120px;
}
.fa-google {
	color: #FFFFFF;
	background-color: #2C70C2;
}
.bulb__icon {
	color: #000000;
	background-color: #F6F647;
}
.fa-graduation-cap {
	background-color: #FFFFFF;
}
.fa-users {
	color: #000000;
	background-color: #124113;
}
.icon-html5-alt {
	color: #FFFFFF;
	background-color: #FF6C39;
}
.icon-css3-alt {
	color: #FFFFFF;
	background-color: #264DE4;
}
.icon-sass {
	color: #CF649A;
	background-color: #FFFFFF;
}
.icon-bootstrap {
	color: #FFFFFF;
	background-color: #624090;
}
.skills__icon {
	color: #000000;
	background-color: #F0DB4F;
}
.java__icon {
	color: #FFFFFF;
	background-color: #FFAC37;
}
/*NAVIGATION PROPERTIES*/
.navigation {
	border-bottom: 1px solid #444444;
	padding: 0px;

	.navbar-toggler {
		background-color: #4278E5;
	}
	.navigation__list {
		display: flex;
		justify-content: space-around;

		li {
			.nav-link {
				line-height: 50px;
				padding: 0;
				font-size: 18px;
				@include transition(0.7s);
			
				&:hover {
					color: $btn-state-color;
					@include transform(translateY, -5px);
				}
				&:focus {
					color: $btn-state-color;
					@include transform(scale, 1.2);
				}
			}
			.home-link {
				color: $homeheader-color;
				font-size: 23px;
			}
		}
	}
}
.jumb {
	height: 100vh;
	background: url(https://images.pexels.com/photos/247676/pexels-photo-247676.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb) center no-repeat;
	background-size: cover;
	@include display-flex();
	flex-direction: column;
	@include justify-content(center);
	@include align-content(center);

	&__message {
		text-align: center;

		&--head {
			font-size: 65px;
			text-shadow: 3px 3px #000000;
			color: $homeheader-color;
		}
		&--paragh {
			font-size: 40px;
			text-shadow: 2px 2px #000000;
			color: #EDEDED;
		}
	}
	.jumb__btn {

		&--view {
			position: relative;
			padding: 10px;
			font-size: 13px;
			font-weight: bold;
			text-transform: uppercase;
			background-color: transparent;
			border: 2px solid #FFFFFF; 
			color: #FFFFFF;
			@include border-radius(10px);

			&:hover {
				background-color: transparent;
				border: 2px solid #FC0000; 
			}
		}
		a {
			@include position(absolute, $top: 0, $right: 0, $bottom: 0, $left: 0);
			background-color: transparent;
		}
		&--icon {
			font-size: 30px;
			color: #FFFFFF;
			opacity: 0.3;
			@include animation(arrow, 2s, infinite);
		}
		@keyframes arrow {
		    0% {
		        transform: translateY(-5px);
		    }
		    100% {
		        transform: translateY(10px);
		    }
		}
	}
}
.sep {
	margin-top: 120px;
	margin-bottom: 40px;	
	@include display-flex();
	@include justify-content(center);
	@include align-content(center);

	&__wrapper {
		display: inline-block;
		font-size: 150px;
		@include animation(rotateSpin, 2s, infinite);
	}
	@keyframes rotateSpin {
	    0% {
	        transform: rotate(0deg);
	        color: #315632;
	    }
	    50% {
	        transform: rotate(360deg);
	    }
	    100% {
	        transform: rotate(360deg);
	    }
	}
	&__first {
		@extend .sep;
		margin-top: 0;
	}
}
.info {	
	padding-top: 5px;

	&__header {
		text-align: center;
	}
	&__content1 {
		@include display-flex();
		@include justify-content(center);
		flex-wrap: wrap;
	}
	&__content2 {
		@include display-flex();
		@include justify-content(center);
		flex-wrap: wrap;
	}
	&__btn {
		position: relative;
		height: 200px;
		width: 200px;
		background-color: #135E93;
		border: 3px solid #000000;
		color: #FFFFFF;
	    @include transition(1s);

		&:hover {
			z-index: 2;
			background-color: #10456B;
			color: #000000;
			@include transform(scale, 1.2);
			cursor: pointer;
		}
		&:focus {
			color: #000000;
			background-color: #0B590C;
			outline: none; 
		}
		&--txt {
			font-size: 20px;
		}
	}
	&__modal {

		&--title {
			text-align: center;
			font-size: 30px;
			color: #000000;
			background-color: #FFFFFF;
		}
		&--content {
			padding: 30px;
			background-color: #10456B;
			color: #FFFFFF;
		}

		&--btn {
			@include display-flex();
			@include justify-content(center);
			@include align-self(center);
			margin-top: 100px;
			width: 150px;
		}
	}
	&__icon {
		font-size: 40px;

		.fa-graduation-cap {
			background-color: transparent;
		}
	}
}
.skills {
	padding-top: 5px;
	text-align: center;

	&__header {
		margin: 80px;
		font-size: 35px;
		color: $btn-state-color;

		&--small {
			color: #ADADAD;
		}
	}
	&__quote {
		text-align: center;
		display: inline-block;
		margin-bottom: 70px;
		color: #777777;
		padding-left: 30px;
		padding-right: 30px;

		p {
			margin-bottom: 10px;
			font-size: 20px;
		}
		footer {
			text-align: right;
		}
	}
	&__icon {
		position: relative;
		width: 80px;
		height: 80px;
		@include border-radius(20px);
		margin: 5px;
		font-size: 40px;

		&:hover {
			color: grey;
			opacity: 0.7;
			cursor: pointer;
		}
		&:focus {
			outline: none;
		}
		.icon {
			@include position(absolute, $top: 0, $left: 0)
			height: 100%;
			width: 100%;
			@include border-radius(20px);

			&:before {
				height: 100%;
				width: 100%;
				@include display-flex();
				@include justify-content(center);
				@include align-items (center);
			}
		}
	}
}
.projects {
	padding-top: 5px;
	text-align: center;

	&__container {
		@include display-flex();
		@include flex-wrap(wrap);
		@include align-content(center);
		@include justify-content(center);

		&--content {
			position: relative;
			margin: 10px;
		}
		img {
			width: 300px;
			height: 300px;
		}
		&--card {
			width: 300px;
			margin-top: 2px;
			padding-bottom: 5px;
			background-color: #12507A;
			color: #FFFFFF;

			.btn__card {
				display: block;
				margin: 10px;
			}
		}
		&--layer {
			width: 300px;
			height: 300px;
			@include position(absolute, $top: 0);
			font-size: 20px;
			background-color: transparent;
			@include transition(1s);

			&:hover {
				background-color: rgba(0,0,0, 0.5);
				cursor: pointer;
			}
		}
	}
	.layer__icon {
		@include position(absolute, $top: 0);
		@include display-flex();
		@include align-items(center);
		@include justify-content(center);
		@include flex-wrap(wrap);
		width: 100%;
		height: 100%;
		opacity: 0;
		@include transition(1s);
	
		&:hover {
			@include position(absolute, $top: 0);
			@include display-flex();
			@include align-items(center);
			@include justify-content(center);
			@include flex-wrap(wrap);
			width: 100%;
			height: 100%;
			opacity: 0.9;
		}

		.icon {
			font-size: 20px;
			padding: 5px;
			margin: 2px;
			text-align: center;

			&:before {
				height: 100%;
				width: 100%;
				@include display-flex();
				@include justify-content(center);
				@include align-items (center);
			}
		}
	}
}