@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import 'mixins';
/*GENERAL PROPERTIES*/
html {
}
* {
	font-family: $primary-font;
}
body {
    background-color: $primary-color;
    margin-top: 0px;
    height: 100%;
    overflow: visible;
}
:focus { 
	outline: none; 
}
.site__header {
	margin-top: 80px;
	padding-top: 80px;
	font-size: 30px;
	color: #ADADAD;
	
	&--paragh {
		margin-bottom: 80px;
		font-size: 50px;
		color: $homeheader-color;
	}
}
.shadows__wrapper {
		box-shadow: 0px 0px 100px 0px $btn-state-color;
		padding-bottom: 120px;
}
.fa-google {
	color: #FFFFFF;
	background-color: #2C70C2;
}
.fa-lightbulb-o {
	color: #000000;
	background-color: #F6F647;
}
.fa-graduation-cap {
	background-color: #FFFFFF;
}
.fa-users {
	color: #000000;
	background-color: #124113;
}
.icon-java {
	color: #FFFFFF;
	background-color: #FFAC37;
}
.fa-google {
	color: #FFFFFF;
	background-color: #2C70C2;
}
.bulb__icon {
	color: #000000;
	background-color: #F6F647;
}
.fa-graduation-cap {
	background-color: #FFFFFF;
}
.fa-users {
	color: #000000;
	background-color: #124113;
}
.icon-html5-alt {
	color: #FFFFFF;
	background-color: #FF6C39;
}
.icon-css3-alt {
	color: #FFFFFF;
	background-color: #264DE4;
}
.icon-sass {
	color: #CF649A;
}
.icon-bootstrap {
	color: #FFFFFF;
	background-color: #624090;
}
.icon-javascript {
	background-color: #F7E018;
	color: #000000;	
}
.java__icon {
	color: #FFFFFF;
	background-color: #FFAC37;
}
.icon-jquery {
	color: #3987BD;
	background-color: #FFFFFF;
}
.icon-text {
	background-color: #FFFFFF;
	color: #000000;
	text-transform: uppercase;
	font-weight: bold;
	@include border-radius(10px);
	padding: 3px;
	margin: 2px;
	font-size: 15px;
}


/*NAVIGATION PROPERTIES*/
.navigation {
	border-bottom: 1px solid #444444;
	padding: 0px;

	.navbar-toggler {
		background-color: #4278E5;
		z-index: 2;
	}
	.navigation__list {
		display: flex;
		justify-content: space-around;

		li {
			.nav-link {
				line-height: 50px;
				padding: 0;
				font-size: 18px;
				@include transition(0.7s);
			
				&:hover {
					color: $btn-state-color;
					@include transform(translateY, -5px);
				}
				&:focus {
					color: $btn-state-color;
					@include transform(scale, 1.2);
				}
			}
			.home-link {
				color: $homeheader-color;
				font-size: 23px;
			}
		}
	}
}


.jumb {
	height: 100vh;
	background: url(https://images.pexels.com/photos/247676/pexels-photo-247676.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb) center no-repeat;
	background-size: cover;
	@include display-flex();
	flex-direction: column;
	@include justify-content(center);
	@include align-content(center);

	&__message {
		text-align: center;

		&--head {
			font-size: 65px;
			text-shadow: 3px 3px #000000;
			color: $homeheader-color;
		}
		&--paragh {
			font-size: 40px;
			text-shadow: 2px 2px #000000;
			color: #EDEDED;
		}
	}
	.jumb__btn {

		&--view {
			position: relative;
			padding: 10px;
			font-size: 13px;
			font-weight: bold;
			text-transform: uppercase;
			background-color: transparent;
			border: 2px solid #FFFFFF; 
			color: #FFFFFF;
			@include border-radius(10px);

			&:hover {
				background-color: transparent;
				border: 2px solid #FC0000; 
			}
		}
		a {
			@include position(absolute, $top: 0, $right: 0, $bottom: 0, $left: 0);
			background-color: transparent;
		}
		&--icon {
			font-size: 30px;
			color: #FFFFFF;
			opacity: 0.3;
			@include animation(arrow, 2s, infinite);
		}
		@keyframes arrow {
		    0% {
		        transform: translateY(-5px);
		    }
		    100% {
		        transform: translateY(10px);
		    }
		}
	}
}


.info {	
	padding-top: 20px;
	margin-top: 300px;
	margin-bottom: 300px;

	&__header {
		text-align: center;
	}
	&__content1 {
		@include display-flex();
		@include justify-content(center);
		flex-wrap: wrap;
	}
	&__content2 {
		@include display-flex();
		@include justify-content(center);
		flex-wrap: wrap;
	}
	&__btn {
		position: relative;
		height: 200px;
		width: 200px;
		background-color: #135E93;
		border: 3px solid #000000;
		color: #FFFFFF;
	    @include transition(1s);

		&:hover {
			z-index: 2;
			background-color: #10456B;
			color: #000000;
			@include transform(scale, 1.2);
			cursor: pointer;
		}
		&--icon {
			font-size: 40px;

			.fa-graduation-cap {
				background-color: inherit;
			}
		}
		&:focus {
			color: #000000;
			background-color: #0B590C;
			outline: none; 
		}
		&--txt {
			font-size: 20px;
		}
	}
	&__modal {


		&--title {
			text-align: center;
			text-transform: uppercase;
			font-size: 30px;
			color: #FFFFFF;
			background-color: #135E93;
		}
		.aboutModal {
			background-image: url(../imageMin/aboutBckg.png);
			background-size: cover;
			background-position: center;
		}
		.eduModal {
			background-image: url(../imageMin/eduBckg.png);
			background-size: cover;
			background-position: center;
		}
		.interestsModal {
			background-image: url(../imageMin/interestsBckg.png);
			background-size: cover;
			background-position: center;
		}
		.targetModal {
			background-image: url(../imageMin/targetBckg.png);
			background-size: cover;
			background-position: center;
		}
		&--content {
			padding: 30px;
			background-color: #10456B;
			color: #FFFFFF;

			.aboutText {
				padding: 15px;
				text-align: justify;
				background-color: rgba(0,0,0, 0.7);
				@include border-radius(10px);
			}
			p {
				font-size: 20px;
				line-height: 40px;
			}
			ul {
				list-style-type: none;
				margin-top: 50px;

				li {
					background-color: rgba(0,0,0, 0.8);
					@include border-radius(10px);

					p {
						font-size: 20px;
						padding-left: 20px;
						padding-bottom: 20px;
					}
					.fa {
						@include border-radius(5px);
						font-size: 40px;
						color: #FFFFFF;
						background-color: initial;
						padding: 5px;
						margin-bottom: 10px;
					}
				}
			}
		}
		&--btn {
			@include display-flex();
			@include justify-content(center);
			@include align-self(center);
			margin-top: 50px;
			width: 150px;
			cursor: pointer;
		}
	}
}

.skills {
	padding-top: 20px;
	text-align: center;
	margin-bottom: 300px;

	&__header {
		margin: 80px;
		font-size: 35px;
		color: $btn-state-color;

		&--small {
			color: #ADADAD;
		}
	}
	&__quote {
		text-align: center;
		display: inline-block;
		margin-bottom: 70px;
		color: #777777;
		padding-left: 30px;
		padding-right: 30px;

		p {
			margin-bottom: 10px;
			font-size: 20px;
		}
		footer {
			margin: 20px;
			text-align: right;
			background-color: inherit;
		}
	}
	&__icon {
		position: relative;
		width: 100px;
		height: 100px;
		@include border-radius(20px);
		background-color: inherit;
		border: none;
		margin: 1px;
		font-size: 60px;

		img {
			@include border-radius(20px);
			@include position(absolute, $top: 0, $left: 0)
			height: 100%;
			width: 100%;
		}
		&:hover {
			color: grey;
			opacity: 0.7;
			cursor: pointer;
		}
		&:focus {
			outline: none;
		}
		.icon {
			@include position(absolute, $top: 0, $left: 0)
			height: 100%;
			width: 100%;
			@include border-radius(20px);

			&:before {
				height: 100%;
				width: 100%;
				@include display-flex();
				@include justify-content(center);
				@include align-items (center);
			}
		}
	}
}


.projects {
	padding-top: 20px;
	text-align: center;

	&__container {
		@include display-flex();
		@include flex-wrap(wrap);
		@include align-content(center);
		@include justify-content(center);

		&--content {
			position: relative;
			margin: 10px;
			height: 100%;
		}
		figcaption {
			position: relative;

			img {
				width: 300px;
				height: 300px;
				object-fit: cover;
				object-position: 0% 0%;
			}
		}
		.paperRockImg {
			object-position: center;
		}
		.kanbanImg {
			object-position: center;
		}
		&--card {
			width: 300px;
			margin-top: 2px;
			padding: 30px 0;
			background-color: #141414;
			color: #FFFFFF;

			.mobile-icon {
				display: none;
				height: 35px;
				width: 35px;
				margin: 5px;
				text-align: center;
				font-size: 25px;

				.icon {
					height: 100%;
					width: 100%;
					display: block;
				}
			}
			.btn__card {
				display: block;
				margin: 10px;
			}
		}
		&--layer {
			width: 300px;
			height: 300px;
			@include position(absolute, $top: 0);
			font-size: 20px;
			background-color: transparent;
			@include transition(1s);
			position: absolute;

			&:hover {
				background-color: rgba(0,0,0, 0.5);
				cursor: pointer;
			}
			a {
				@include position(absolute, $top: 0, $right: 0, $bottom: 0, $left: 0);
			}
		}
	}
	.layer__icon {
		@include position(absolute, $top: 0);
		@include display-flex();
		@include align-items(center);
		@include justify-content(center);
		@include flex-wrap(wrap);
		width: 100%;
		height: 100%;
		opacity: 0;
		@include transition(1s);
	
		&:hover {
			@include position(absolute, $top: 0);
			@include display-flex();
			@include align-items(center);
			@include justify-content(center);
			@include flex-wrap(wrap);
			width: 100%;
			height: 100%;
			opacity: 0.9;
		}

		.icon {
			font-size: 20px;
			padding: 5px;
			margin: 2px;
			text-align: center;

			&:before {
				height: 100%;
				width: 100%;
				@include display-flex();
				@include justify-content(center);
				@include align-items (center);
			}
		}
	}
}

footer {
	background-color: #1A1A1C;
	margin-top: 300px;

	.foot {

		&__contact {
			padding: 20px 20px;

			label {
				margin: 10px 0;
				font-size: 20px;
				color: $homeheader-color;
			}
			button {
				margin-top: 20px;
				cursor: pointer;
			}
		}
		&__social {
			padding: 45px 0;
			text-align: center;

			h2 {
				margin: 10px;
				font-size: 20px;
				color: $homeheader-color;
			}
			button {
				margin: 10px;
				height: 80px;
				width: 150px;
				outline: none;
				cursor: pointer;
				@include border-radius(15px);
				position: relative; 

				&:hover {
					opacity: 0.5;
				}
				img {
					width: 100%;
					height: 100%;
				}
				a {
					@include position(absolute, $top: 0, $right: 0, $bottom: 0, $left: 0);
				}	
			}
		}
	}
}